{% load i18n %}
{% blocktrans with site_name=site_name %}Recebeu este email porque foi pedida a recuperação de senha da sua conta em {{ site_name }}.{% endblocktrans %}

{% trans "Para definir uma nova senha, aceda ao link abaixo:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans with username=user.get_username %}O seu nome de utilizador (caso tenha esquecido): {{ username }}{% endblocktrans %}

{% trans "Se não pediu esta alteração, pode ignorar este email." %}

{% trans "Obrigado," %}
{% blocktrans with site_name=site_name %}A equipa {{ site_name }}{% endblocktrans %}
